spring:
  application:
    name: authorization-service
  output:
    ansi:
      enabled: always
  banner:
    charset: UTF-8
  # Database configuration - H2 in-memory database
  # SA password is randomly generated after Liquibase runs - check console output
  datasource:
    url: jdbc:h2:mem:rolesdb;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: false
      # H2 Console Access:
      # - ADMIN: Use 'sa' with the random password shown in console at startup
      # - POWER_USER: Use 'readonly' / 'readonly' for read-only access
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: 8081
  servlet:
    encoding:
      charset: UTF-8
      force: true

logging:
  level:
    dev.danvega.authz: INFO
  charset:
    console: UTF-8

# Actuator endpoints
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized
