spring:
  application:
    name: jte-login
  output:
    ansi:
      enabled: always
  banner:
    charset: UTF-8

# OAuth2 configuration is handled programmatically in OAuth2ClientConfig.java
# Set environment variables GOOGLE_CLIENT_ID, GOOGLE_CLIENT_SECRET, GITHUB_CLIENT_ID, GITHUB_CLIENT_SECRET
# to enable OAuth2 login providers

gg:
  jte:
    developmentMode: true

logging:
  level:
    org:
      springframework:
        security: ERROR #change to DEBUG or INFO for more information about spring security
  charset:
    console: UTF-8
server:
  servlet:
    encoding:
      charset: UTF-8
      force: true
