spring:
  application:
    name: jte-login
  output:
    ansi:
      enabled: always
  banner:
    charset: UTF-8
  # Database configuration
  datasource:
    url: jdbc:h2:mem:rolesdb;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
      # H2 Console Access Control:
      # - Only ROLE_ADMIN and ROLE_POWER_USER can access /h2-console
      # - ADMIN users: Connect with username 'sa' (no password) for full read/write access
      # - POWER_USER users: Connect with username 'readonly', password 'readonly' for read-only access
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

# OAuth2 configuration is handled programmatically in OAuth2ClientConfig.java
# Set environment variables GOOGLE_CLIENT_ID, GOOGLE_CLIENT_SECRET, GITHUB_CLIENT_ID, GITHUB_CLIENT_SECRET
# to enable OAuth2 login providers

gg:
  jte:
    developmentMode: true

logging:
  level:
    org:
      springframework:
        security: ERROR #change to DEBUG or INFO for more information about spring security
  charset:
    console: UTF-8
server:
  servlet:
    encoding:
      charset: UTF-8
      force: true
